/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Metal+Mania&display=swap');

/* background image */
html {
  background: url(../images/heavy-metal-background.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: #070B06;
  font-family: Lato, sans-serif;
  color: whitesmoke;

}

/*global styles*/

h1 {
  text-align: center;
  font-family: Metal Mania, Lato;
  font-size: 4rem;
  color: black;
  text-shadow: 0px 0px 20px rgba(1, 92, 1, 0.733);
}

button {
  cursor: pointer;
  color: white;
  background-color: rgba(136, 238, 153, 0.4);
  font-family: Metal Mania, Lato;
  font-size: 2rem;
  border-radius: 10px;
  border-style: none;
  width: 10rem;
  height: 5rem;

}

button:hover {
  box-shadow: 0px 0px 50px rgba(1, 92, 1);
  transition: all 0.5s ease;

}


.hidden {
  display: none;
}


.option {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 10px;
  color: white;
  background-color: rgba(136, 238, 153, 0.4);
  font-family: Metal Mania, Lato;
}

.option:hover {
  cursor: pointer;
  box-shadow: 0px 0px 50px rgba(1, 92, 1);
  transition: all 0.5s ease;
}

/*Quiz container */

#start-container p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 15px 35px;
}


#section-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  box-shadow: 0px 0px 100px rgba(1, 92, 1, 0.733);
  width: 70%;
  max-width: 800px;
  min-height: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #0B0E15;
  opacity: 0.95;

}

#section-container>* {
  padding: 15px;
}

#question-container {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;

}

#option-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  color: #383A35;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}


#result-container {
  font-family: Metal Mania, Lato;
  font-size: 2rem;

}

/*Media queries */

@media(max-width: 500px) {
  #option-container {
    grid-template-columns: auto auto;
  }
}

@media(max-width: 380px) {
  #option-container {
    grid-template-columns: auto;
  }
}