
  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Metal+Mania&display=swap');

h1 {
    text-align: center;
    font-family: Metal Mania, Lato;
}

#question-container {
    text-align: center;
    font-size: 2rem;
    font-family: Lato, sans-serif;
    color: #444444;
    padding: 1rem;
  }
  #option-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .option {
    background-color: aliceblue;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
  }
  @media(max-width: 500px) {
    #option-container {
      grid-template-columns: auto auto;
    }
  }
  @media(max-width: 380px) {
    #option-container {
      grid-template-columns: auto;
    }
  }