
  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Metal+Mania&display=swap');

  /*html {
    background: linear-gradient(to right, #F72585, #B5179E, #7209B7);
  }*/


html {
  background: url(../images/heavyMetalBackground.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
    text-align: center;
    font-family: Metal Mania, Lato;
    font-size: 2.8rem;
    color:#C5C9B8 ;
    text-shadow: 8px 8px 8px #070B06;
}
#section-container {
    text-align: center;
    border: 2px solid black;
    box-shadow: 5px 5px 100px blue;
    background-color: white;
    width: 70%;
    height: auto;
    max-width: 800px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
   
}
.hidden {
  display: none;
}

#question-container {
    text-align: center;
    font-size: 2rem;
    font-family: Lato, sans-serif;
    color: #444444;
    padding: 1rem;
  
  }
  #option-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: 2rem;
    font-family: Lato, sans-serif;
    color: #444444;
  }
  .option {
    background-color: aliceblue;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
  }
  @media(max-width: 500px) {
    #option-container {
      grid-template-columns: auto auto;
    }
  }
  @media(max-width: 380px) {
    #option-container {
      grid-template-columns: auto;
    }
  }