
  @import url('https://fonts.googleapis.com/css2?family=Lato&family=Metal+Mania&display=swap');

  /*html {
    background: linear-gradient(to right, #F72585, #B5179E, #7209B7);
  }*/


html {
  background: url(../images/heavyMetalBackground.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: #070B06;
  font-family: Lato, sans-serif;
  color: whitesmoke;
  
}

h1 {
    text-align: center;
    font-family: Metal Mania, Lato;
    font-size: 4rem;
    color: black;
    text-shadow: 0px 0px 20px #383;
}

#start-container p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 15px 35px;
}

#section-container {
    text-align: center;
    box-shadow: 0px 0px 100px #070B;
    background-color: white;
    width: 70%;
    height: auto;
    max-width: 800px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px ;
    background-color: rgb(51, 136, 51, 0.9);
    opacity: 0.8;
   
}
.hidden {
  display: none;
}

#question-container {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
  
  }
  #option-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: 2rem;
    color: #383A35;
    border-radius: 10px ;
  }
  .option {
    background-color: aliceblue;
    font-size: bold, 1.5rem;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
  }
  @media(max-width: 500px) {
    #option-container {
      grid-template-columns: auto auto;
    }
  }
  @media(max-width: 380px) {
    #option-container {
      grid-template-columns: auto;
    }
  }